  <h1>Welcome to town!</h1>
  <p>
    This is the home page for the Santa on Rails application.
    </p>
    <p><a href="<%= children_path %>">Santa's List</a></p>
<%= link_to 'Check my list', presents_path, class: 'btn btn-success' %>

    <%= link_to 'Log in', sessions_new_path, class: 'btn btn-success' %>

