<html>

  <head>
    <% provide(:title, "Town") %>
  </head>

  <h1>Welcome to town!</h1>
  <p>
    This is the home page for the Santa on Rails application.
    </p>
    <p>Santa can check his list from <a href="/children">here</a></p>
    <p>Children can check the present list from <a href="/presents">here</a></p>
</html>

